.CoursesTitle h1 {
    font-size: 3rem;
    color: #00a3ff;
    cursor: pointer;
    margin-bottom: 0.5rem;
    text-align: center;
}

.Courses-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.OurCourses_contant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.OTScourses-contant,
.OVLcourses-contant,
.OQB-courses-contant {
    display: flex;
    justify-content: space-around;
    background: #51f77321;
    padding: 1rem;
    border: 2px solid #000;

}




.courses-images,
.coursesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



ul.coursesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

ul.courses-list li {
    list-style: disc;
    list-style-image: rebeccapurple;
    padding: 5px 9px 5px 0px;

}

.coursesList li a {
    font-size: 14px;
}

.courses-images {
    display: flex;

}

.courses-images {
    display: flex;


}

li.Courses1 {
    list-style: disc;
    background-color: #00a3ff;
    width: 156px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.Courses1:hover {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.Courses2:nth-child(1) {
    list-style: disc;
    background-color: #00a3ff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 156px;


}


@media (max-width: 1020px) {

    .OTScourses-contant,
    .OVLcourses-contant,
    .OQB-courses-contant {
        display: flex;
        padding: 10px;

    }

    .courses-contant {
        width: 100%;
        padding-left: 0rem;
    }

    ul.coursesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        white-space: nowrap;
        gap: 20px;
    }

    .courses-contant {
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .courses-images,
    .coursesList {
        width: 42.33%;
    }

    ul.coursesList {
        gap: 10px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {

    .container {
        padding: 0 4rem 0 4rem;
    }

    .OTScourses-contant ul.coursesList:nth-child(1) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .courses-images {
        align-items: baseline;
    }

    .courses-contant {
        width: 35%;
        margin-right: 3rem;
    }
}

@media (max-width: 1020px) {
    ul.coursesList {
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .courses-images {
        display: flex;
    }

    .courses-contant {
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .OTScourses-contant,
    .OVLcourses-contant,
    .OQB-courses-contant {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .courses-contant {
        width: 92%;
    }
}