.Egate_landing{
   width: 80%;
   margin: 0 auto;
}
.Egate_logo_with_Link{

  padding: 2rem 0;
}

.Egate_landing_header-e6578i{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.Egate_logo_hjurnfh h2 {
  padding-left: 9rem;
}

.Egate_logo_hjurnfh img{
  max-width: 400px;
}
.Egate_land_COntainer{
    max-width: 80%;
    margin: 0 auto;
}

.EGATE_eLanding_Container{
  /* background: rgb(255, 233, 233); */
  background: rgb(0 34 44);
  padding: 4rem 0;
}

.EGATE_landingE{
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.Egate_loge_landing img{
  max-width: 300px;
}

.Egate_landiing_ojnkl h2{
 font-size: 40px;
  padding: 2rem 0;
  color: #fff;
}

.Egate_landiing_ojnkl p{
  font-size: 22px;
  font-weight: 600;
  line-height: 37px;
  text-align: justify;
  color: #fff;
}


.Egate_eLanding_Container{
  padding: 2rem 0;
}
.EGATE_eCordsLanding {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.Ug_egatePAge {
  /* background: rgb(255 218 218); */
  box-shadow: 0px 0px 12px 2px rgb(0 34 44);
  padding: 2rem;
}
.EGATE_elandUl h3{
  background: rgb(0 61 78);
  text-align: center;
  color: rgb(255, 255, 255);
}
.EGATE_elandUl{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.EGATE_elandUl li a {
  color: rgb(0, 0, 0);
}



ul.EGATE_elandUl li a {
  /* background: red; */
  box-shadow: 0px 0px 5px -3px;
  text-align: center;
  display: flex;
  padding: 9px;
}
/* .Egate_landing::before { 
    content: "";
    background-color: yellow;
    color: red;
    font-weight: bold;
    width: 100%;
    height: 50%;
    position: absolute;
  } */

  .EgateHeader{
    background: #97bec7ff;
  }


  /* <!-- HTML !-->
<button class="button-89" role="button">Button 89</button> */

/* CSS */
.button-89,
.Ug_egatePAge-pg,
.Ug_egatePAge {
  --b: 1px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color:  rgb(0 34 44);
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  /* background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p)); */
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid  rgb(0 34 44);
  outline-offset: -1px;
  box-shadow: 0px 0px 12px 2px rgb(0 34 44);

  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Ug_egatePAge-pg:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  /* color: red; */
}

.Ug_egatePAge-pg:active {
  background: var(--color);
  /* color: rgb(0 34 44); */
}

@media only screen and (min-width:1023px) and (max-width: 1280px) {
  .Egate_landing_header-e6578i {
    width: 72%;
    margin: 0 auto;
}
.Egate_loge_landing img {
  max-width: 251px;
}
.Egate_landiing_ojnkl p {
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  text-align: justify;
  color: #fff;
}
.EGATE_eCordsLanding {

  gap: 0;
}
      
.Egate_landing {
  width: 80%;
  margin: 0 auto;
}
.EGATE_landingE {
  gap: 3rem;

}
  }

  @media only screen and (min-width: 600px) and (max-width: 1023px) {


    .EGATE_landingE {
      display: flex;
      gap: 4rem;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  }

  @media only screen and (max-width: 600px) {
    .Egate_logo_hjurnfh img {
      max-width: 160px;
  }
  .Egate_landiing_ojnkl p {
    font-size: 14px;
   
}
.Egate_landiing_ojnkl h2 {
  font-size: 28px;
  padding: 2rem 0;
  color: #fff;
}
.Egate_logo_with_Link {
  padding: 0.5rem 0;
}
  .Egate_logo_hjurnfh h2 {
    padding-left: 2rem;
    font-size: 8px;
}
    .EGATE_landingE {
      display: flex;
      gap: 4rem;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  .EGATE_landingE {
    gap: 2rem;
}
  .EGATE_eCordsLanding {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}
  }